In [130]:
#import the pandas module
import pandas as pd
import os

In [163]:
# Read all the csv files in the directory and concat the files one by one vertically

files=os.listdir()
data1=None
New=None
for i,f in enumerate(files):
    print(f)
    if f.split('.')[-1]=='csv':
        # Preprocessing before concatenation
        New=pd.read_csv(f)
        New=New.dropna()
        New=New.reset_index()
        New=New.drop(0,axis=0)
        if not isinstance(data1, pd.DataFrame):
            data1=New
            continue
        else:
            # Concatenate the data vertically
            data1=pd.concat([data1,New])

.ipynb_checkpoints
CallLogs_Analysis.docx
Call_log_Analysis.ipynb
Cleaned_datasets
CSV_Calls_3213161453_0.csv
CSV_Calls_3213161453_1.csv
CSV_Calls_3213161453_10.csv
CSV_Calls_3213161453_11.csv
CSV_Calls_3213161453_12.csv
CSV_Calls_3213161453_2.csv
CSV_Calls_3213161453_3.csv
CSV_Calls_3213161453_4.csv
CSV_Calls_3213161453_5.csv
CSV_Calls_3213161453_6.csv
CSV_Calls_3213161453_7.csv
CSV_Calls_3213161453_8.csv
CSV_Calls_3213161453_9.csv
~$llLogs_Analysis.docx
~WRL3467.tmp

In [164]:
data1

,index,Usage for:,3213161453,Unnamed: 2,Unnamed: 3,Unnamed: 4
1,6,08/19/2021 09:13 PM,(689) 837-5094,to Orlando/FL,1 Min,T-Mobile to T-Mobile
2,7,08/19/2021 09:02 PM,(689) 837-5122,to Orlando/FL,2 Min,T-Mobile to T-Mobile
1,6,09/19/2021 07:49 PM,(847) 630-7752,to Arlngtnhts/IL,1 Min,--
2,7,09/19/2021 12:42 PM,(321) 316-1270,to Winterpark/FL,2 Min,T-Mobile to T-Mobile
3,8,09/19/2021 12:31 PM,(408) 784-5390,Incoming,11 Min,Call Waiting
...,...,...,...,...,...,...
110,115,05/20/2022 08:18 PM,(689) 837-5102,Incoming,1 Min,T-Mobile to T-Mobile
111,116,05/20/2022 05:34 PM,(407) 881-1132,to Orlando/FL,1 Min,T-Mobile to T-Mobile
112,117,05/20/2022 05:31 PM,(407) 881-1132,to Orlando/FL,1 Min,T-Mobile to T-Mobile
113,118,05/20/2022 05:31 PM,(407) 881-1132,to Orlando/FL,1 Min,T-Mobile to T-Mobile
114,119,05/20/2022 03:17 PM,(407) 639-9772,Incoming,1 Min,T-Mobile to T-Mobile

In [165]:
data1=data1.drop('index',axis=1)

In [166]:
data1

,Usage for:,3213161453,Unnamed: 2,Unnamed: 3,Unnamed: 4
1,08/19/2021 09:13 PM,(689) 837-5094,to Orlando/FL,1 Min,T-Mobile to T-Mobile
2,08/19/2021 09:02 PM,(689) 837-5122,to Orlando/FL,2 Min,T-Mobile to T-Mobile
1,09/19/2021 07:49 PM,(847) 630-7752,to Arlngtnhts/IL,1 Min,--
2,09/19/2021 12:42 PM,(321) 316-1270,to Winterpark/FL,2 Min,T-Mobile to T-Mobile
3,09/19/2021 12:31 PM,(408) 784-5390,Incoming,11 Min,Call Waiting
...,...,...,...,...,...
110,05/20/2022 08:18 PM,(689) 837-5102,Incoming,1 Min,T-Mobile to T-Mobile
111,05/20/2022 05:34 PM,(407) 881-1132,to Orlando/FL,1 Min,T-Mobile to T-Mobile
112,05/20/2022 05:31 PM,(407) 881-1132,to Orlando/FL,1 Min,T-Mobile to T-Mobile
113,05/20/2022 05:31 PM,(407) 881-1132,to Orlando/FL,1 Min,T-Mobile to T-Mobile
114,05/20/2022 03:17 PM,(407) 639-9772,Incoming,1 Min,T-Mobile to T-Mobile

In [167]:
data1.columns=['DateNtime','Contact','Destination','Duration','Type']

In [168]:
data1

,DateNtime,Contact,Destination,Duration,Type
1,08/19/2021 09:13 PM,(689) 837-5094,to Orlando/FL,1 Min,T-Mobile to T-Mobile
2,08/19/2021 09:02 PM,(689) 837-5122,to Orlando/FL,2 Min,T-Mobile to T-Mobile
1,09/19/2021 07:49 PM,(847) 630-7752,to Arlngtnhts/IL,1 Min,--
2,09/19/2021 12:42 PM,(321) 316-1270,to Winterpark/FL,2 Min,T-Mobile to T-Mobile
3,09/19/2021 12:31 PM,(408) 784-5390,Incoming,11 Min,Call Waiting
...,...,...,...,...,...
110,05/20/2022 08:18 PM,(689) 837-5102,Incoming,1 Min,T-Mobile to T-Mobile
111,05/20/2022 05:34 PM,(407) 881-1132,to Orlando/FL,1 Min,T-Mobile to T-Mobile
112,05/20/2022 05:31 PM,(407) 881-1132,to Orlando/FL,1 Min,T-Mobile to T-Mobile
113,05/20/2022 05:31 PM,(407) 881-1132,to Orlando/FL,1 Min,T-Mobile to T-Mobile
114,05/20/2022 03:17 PM,(407) 639-9772,Incoming,1 Min,T-Mobile to T-Mobile

In [170]:
# Save the combined data to a csv file as a checkpoint 
#checkpoint1
data1.to_csv('Combined.csv')

In [172]:
# Clean the Destination string to get only the name of the destination
data1.Destination = data1.Destination.iloc[:].str.replace('to',' ').str.replace(' ','')

In [173]:
# get all the date in dateTime format
data1['DateNtime']=pd.to_datetime(data1['DateNtime'])

In [174]:
# Cleaning the Duration columns to get a numerical duration
data1.Duration=data1.Duration.str.replace('Min','')

In [175]:
# Convert the cleaned Duration to 'int64'
data1.Duration=data1.Duration.astype('int64')

In [176]:
# Confirm the datatypes of the columns in the dataset 
data1.dtypes

DateNtime      datetime64[ns]
Contact                object
Destination            object
Duration                int64
Type                   object
dtype: object

In [177]:
#Save the final cleaned data
# Final check point
data1.to_csv('Step2.csv')